/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* global styles */
:root {
  --color-hero: #fff;
  --color-info: #303030;
  --color-black: #000;
  --bg-color: rgba(255, 255, 255, 0.85);
}

html.dark {
  --color-info: #fff;
  --bg-color: rgba(0, 0, 0, 0.75);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-image: url('./starter-code/assets/mobile/bg-image-daytime.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

body::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.dark body {
  background-image: url('./starter-code/assets/mobile/bg-image-nighttime.jpg');
}

.logo {
  background: transparent;
  border: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

span {
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0px;
}

h6 {
  font-size: 10px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p,
h5 {
  font-size: 12px;
  line-height: 22px;
}

h4 {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 3px;
}

h3 {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
}

h1 {
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -2.5px;
}

/*
hero
*/
.hero {
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 2rem;
}

/* 
header
*/
.quotation {
  max-width: 375px;
  width: 100%;
  padding: 2rem 26px;
  margin: 0 auto;
  position: relative;
  height: fit-content;
  color: var(--color-hero);
}

.animate.quotation {
  animation: newQuote 1s ease-in;
}
.animate-more.quotation {
  animation: toggleMoreInfo 1s ease-in;
}

.open .quotation {
  display: none;
}

.quotation-text {
  max-width: 90%;
}

.quotation-author {
  margin-top: 5px;
}

.quotation-refresh {
  position: absolute;
  top: 2rem;
  right: 26px;
}

/* 
info
*/
.info {
  max-width: 375px;
  width: 100%;
  padding: 2rem 26px;
  margin: 0 auto;
  height: fit-content;
  display: grid;
  gap: 1rem;
  color: var(--color-hero);
}

.animate-more.info {
  animation: toggleMoreInfo 1s ease-in;
}

.day-time {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.day-hour {
  height: 100px;
}

.toggle-info {
  display: block;
  margin-top: 2rem;
  width: 115px;
  height: 45px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3px 3px 16px;
  font-family: inherit;
  color: var(--color-black);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3.75px;
  border: none;
}

.toggle-info img {
  width: 32px;
  height: 32px;
  transform: rotate(180deg);
}

.hour-place {
  margin-left: 10px;
}
/* 
more info
*/
.more-info {
  display: none;
}
.animate-more.more-info {
  animation: toggleMoreInfo 1s ease-in;
}

.open .more-info {
  display: block;
  background-color: var(--bg-color);
  color: var(--color-info);
  height: 100%;
  width: 100%;
  padding: 4rem 26px;
}

.more-info-container {
  max-width: 375px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.container {
  display: grid;
  gap: 1rem;
}

.single-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes newQuote {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toggleMoreInfo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
